 @import url('https://fonts.googleapis.com/css2?family=Geologica&family=Staatliches&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Geologica&family=Oswald&family=Staatliches&display=swap');


 * {
     font-family: sans-serif;
     margin: 0;
     padding: 0;
     box-sizing: content-box;
 }

 @font-face {
     font-family: "invisible";
     src: url(../resourses/tipografia/Invisible-ExtraBold.otf);
 }

 @font-face {
     font-family: "paytone";
     src: url(../resourses/tipografia/PaytoneOne-Regular.ttf);
 }

 @font-face {
     font-family: "new-font";
     src: url(../resourses/tipografia/bebas-neue/BebasNeue-Regular.ttf);
 }

 @font-face {
     font-family: "carter";
     src: url(../resourses/tipografia/CarterOne-Regular.ttf);
 }

 /****** HEADER ******/
 .header .logo {
     width: 110px;
     padding-left: 15px;

 }

 .header {
     background-color: #2B2A4C;
     display: flex;
     align-items: center;
     justify-content: space-between;
     flex-wrap: wrap;
 }

 .header ul {
     list-style-type: none;
     text-transform: uppercase;
     display: flex;
     width: 370px;
     align-content: center;
     justify-content: center;
     flex-wrap: wrap;
     margin-bottom: 0;
 }


 .header ul a {
     font-family: 'Oswald', sans-serif;
     text-decoration: none;
     color: #b8b7c1;
     padding-right: 12px;
     /* font-weight: 800; */
 }

 .header ul li a {
     transition: 0.7s ease;
 }

 .header ul li :hover {
     color: #ffffff;
     font-weight: 800;
 }


 /****** INDEX MAIN ******/

 .video-container {
     display: flex;
     flex-direction: column;
     align-items: center;
     flex-wrap: wrap;
     opacity: 1;
     background-color: #1c1c1d;

 }

 .video {
     max-height: 427px;
     width: 100%;
     overflow: visible;
 }

 .flex-padre {
     /* border: 2px solid; */
     padding-top: 38px;
     padding-bottom: 38px;
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     flex-wrap: wrap;
     height: auto;
     align-content: center;
     background-image: url("../resourses/images/amanecer.jpg");
     width: 100%;
     /* background-color: rgb(41, 41, 41); */
 }


 .flex-padre img {
     max-width: 345px;
     max-height: 397px;
     border-radius: 7px;
     overflow-y: auto;
 }

 .h1-inicio {
     color: #B31312;
     text-align: center;
     /* text-transform: uppercase; */
     padding-top: 2px;
     padding-bottom: 6px;
     background-color: #EEE2DE;
     font-family: 'Oswald', sans-serif;
     font-size: 36px;
 }

 .h1-tu-clasico {
     font-family: "paytone";
 }

 .h2-inicio {
     color: #2B2A4C;
     text-align: center;
     font-size: 40px;
     text-align: center;
     padding-top: 20px;
     background-color: #ffffff;
     font-family: "invisible";
 }

 .section-main2 {
     background-color: #ffffff;
     padding-top: 10px;
     padding-bottom: 40px;
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     flex-wrap: wrap;
     max-height: 100%;
     align-content: center;
 }

 .section-main2 img {
     max-width: 80px;
     max-height: 80px;
     padding-left: 90px;
     padding-top: 15px;


 }

 .section-main2 div {
     background-color: #ffffff;
     max-width: 285px;
     padding: 0px -20px 0px
 }

 .section-main2 h1 {
     color: #c91313;
     text-align: center;
     text-transform: uppercase;
     text-align: center;
     padding-top: 2px;
     background-color: #ffffff;
     font-family: 'Oswald', sans-serif;
     font-size: 55px;
 }

 .section-main2 p {
     overflow: hidden;
     text-align: center;
     padding-top: 10px;
     font-family: 'Oswald', sans-serif;
     font-size: 18px;
 }

 .foto-local {
     width: 100%;
 }

 .section-main3 {
     background-image: url(../resourses/images/fondo-menu.jpg);
     background-size: cover;
     background-position: center;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     padding: 20px 0;
 }

 .nina-sonriendo {
     width: 60%;
     border-radius: 15px;
 }

 .h3-index {
     padding-top: 10px;
     font-size: 35px;
     font-family: "paytone";
     text-align: center;
     text-transform: uppercase;
     color: rgb(179, 19, 18);

 }

 .carousel-container {
     background-image: url(../resourses/images/local.JPG);
     background-position: center;
     background-size: cover;
     display: flex;
     justify-content: center;
 }

 /****** MENU MAIN ******/
 .main-menu {
     width: 100%;
     height: 100%;
     background-image: url("../resourses/carne-horno.png");
 }

 .h1-menu {
     color: rgb(179, 19, 18);
     text-align: center;
     padding-top: 2px;
     padding-bottom: 6px;
     background-color: #EEE2DE;
     font-family: "paytone";
     font-size: 36px;
     text-transform: uppercase;
 }

 .main-menu h2 {
     font-family: "invisible";
     text-align: center;
     color: #2B2A4C;
     font-size: 35px;
     margin: 10px;
 }

 .flex-padre-menu .clasicos {

     border-radius: 15px;
     display: flex;
     flex-wrap: wrap;
     flex-direction: row;
     justify-content: center;
     background-image: url(https://i.pinimg.com/originals/a8/f2/65/a8f265e983f2c065b8128eaed8ccb9a7.jpg);
     background-position: center;
     background-size: cover;
 }

 .clasicos img {
     max-height: 414px;
     border-radius: 5px;
 }

 .clasicos h3 {
     font-family: "new-font";
     padding-top: 4px;
 }

 .clasicos p {
     font-size: 16px;
     font-family: "new-font";
     padding: 3px 2px;
 }

 .clasicos small {
     font-size: 10px;
     font-weight: bold;
 }

 .clasicos .carne-container {
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .clasicos .pollo-container {
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .clasicos .merluza-container {
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .clasicos .napo-container {
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .clasicos .sandwich-container {
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .flex-padre-menu div {
     padding: 10px;
 }

 .acompanamientos {
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
     background-image: url(https://i.pinimg.com/originals/a8/f2/65/a8f265e983f2c065b8128eaed8ccb9a7.jpg);
     background-position: center;
     background-size: cover;
 }

 .acompanamientos .fries-box {
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .acompanamientos .backed-box {
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .acompanamientos .bomb-box {
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .acompanamientos .smash-box {
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .acompanamientos .salad-box {
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .acompanamientos .tortillas-box {
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .acompanamientos h3 {
     font-family: "new-font";
     padding-top: 4px;
 }

 .acompanamientos p {
     font-size: 16px;
     font-family: "new-font";
     padding: 3px 2px;
 }

 .acompanamientos small {
     font-size: 10px;
     font-weight: bold;
 }

 .flex-padre-menu .acompanamientos img {
     max-width: 300px;
     height: 223px;
     border-radius: 5px;
 }

 .flex-padre-menu .pastas {
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
     background-image: url(https://i.pinimg.com/originals/a8/f2/65/a8f265e983f2c065b8128eaed8ccb9a7.jpg);
     background-position: center;
     background-size: cover;
 }

 .flex-padre-menu .pastas h3 {
     font-family: "new-font";
     padding-top: 4px;
     margin-left: 204px;
 }

 .flex-padre-menu .pastas img {
     max-width: 440px;
     border-radius: 5px;
     margin: 0 20px;
 }

 .flex-padre-menu .empanadas {
     border-radius: 15px;
     display: flex;
     flex-wrap: wrap;
     flex-direction: row;
     justify-content: center;
     background-image: url(https://i.pinimg.com/originals/a8/f2/65/a8f265e983f2c065b8128eaed8ccb9a7.jpg);
     background-position: center;
     background-size: cover;
 }

 .flex-padre-menu .empanadas h3 {
     margin-left: 107px;
     font-family: "new-font";
 }

 .flex-padre-menu .empanadas div {
     margin: 0 6px;
 }

 .flex-padre-menu .empanadas img {
     max-width: 300px;
     height: 223px;
     border-radius: 5px;
 }

 .flex-padre-menu .postres {
     border-radius: 15px;
     display: flex;
     flex-wrap: wrap;
     flex-direction: row;
     justify-content: center;
     background-image: url(https://i.pinimg.com/originals/a8/f2/65/a8f265e983f2c065b8128eaed8ccb9a7.jpg);
     background-position: center;
     background-size: cover;
 }

 .flex-padre-menu .postres img {
     max-width: 300px;
     height: 223px;
     border-radius: 5px;
 }

 .flex-padre-menu .postres h3 {
     margin-left: 107px;
     font-family: "new-font";
 }

 /****** Nosotros MAIN ******/
 .main-nosotros {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

 .h1-nosotros {
     color: rgb(179, 19, 18);
     text-align: center;
     padding-top: 2px;
     padding-bottom: 6px;
     background-color: #EEE2DE;
     font-family: Oswald, sans-serif;
     font-size: 40px;
 }

 .main-nosotros p {
     padding: 10px;
     max-width: 70%;
     text-align: justify;
     font-size: 20px;

 }

 .main-nosotros .playa-aero {
     max-width: 70%;
 }

 .h2-nosotros {
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     color: #2B2A4C;
     font-size: 50px;
     font-weight: 500;
     padding: 15px;
 }

 /* .h2-nosotros{
    if(.main-nosotros<width:600px)
    then (font-size: 30px;)
} */

 /****** CONTACTO MAIN ******/
 .h1-contacto {
     color: #B31312;
     text-align: center;
     background-color: #EEE2DE;
     font-family: 'Oswald', sans-serif;
     padding-top: 2px;
     padding-bottom: 6px;
     font-size: 40px;
 }

 .h2-contacto {
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     color: #2B2A4C;
     font-weight: 500;
     text-align: center;
     margin: 10spx 0;
 }

 .form-container {
     display: grid;
     grid-template-columns: 2.5fr 0.5fr;
     grid-template-areas: "form-box mas-info-box";
     justify-items: center;
     align-items: center;

 }

 .form-box {
     grid-area: form-box;
 }

 .mas-info-box {
     grid-area: mas-info-box;
 }

 .form-box {
     width: 70%;
     /* height: 500px; */
     margin: 10px;
     padding: 10px;
     border: solid #e3e3e3;
     display: flex;
     flex-direction: column;
 }

 .form-box label {
     margin: 5px 0;
     font-family: "oswald";
     font-size: 18px;
 }

 .form-box input {
     padding-left: 5px;
     border-radius: 5px;
     border: solid rgb(232, 232, 232);
     color: #bfbdbd;
     font-family: "oswald";
     font-size: 16px;
 }

 .form-box input:hover {
     border-color: #fef773;
 }

 .form-box textarea {
     padding-left: 5px;
     border-radius: 5px;
     border: solid rgb(232, 232, 232);
     font-family: "oswald";
     font-size: 16px;
 }

 .form-box textarea:hover {
     border-color: #fef773;
 }

 .form-box .send-button {
     width: 70px;
     height: 40px;
     background-color: #B31312;
     color: white;
     margin: 10px 0;
     padding-right: 2px;
 }

 .form-box .send-button:hover {
     background-color: #1c1c1d;
     border-color: #1c1c1d;

 }

 .mas-info-box {
     width: 250px;
     height: 450px;
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     margin-top: 20px;
     justify-content: space-evenly;
 }

 .mas-info-box img {
     width: 20px;
 }


 .mas-info-box .mas-info-logo {
     width: 150px;
 }

 .iframe-map {
     width: 100%;
 }

 /****** NOS IMPORTA MAIN ******/
 .div-container {
     display: flex;
     flex-direction: column;
     align-items: baseline;
 }

 .h1-nos-importa {
     color: #B31312;
     text-align: center;
     background-color: #EEE2DE;
     font-family: "paytone";
     padding-top: 2px;
     padding-bottom: 6px;
     font-size: 32px;
 }

 .h2-nos-importa {
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     color: #2B2A4C;
     font-size: 50px;
     font-weight: 500;
     padding: 15px
 }

 .h3-nos-importa {
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     color: #2B2A4C;
     font-size: 25px;
     font-weight: 500;
     padding: 15px
 }

 .main-nos-importa .p-reciclar {
     color: black;
     font-size: 22px;
     font-weight: bold;
     padding: 10px;
 }

 .main-nos-importa p {
     color: #1f1f1f;
     /* font-weight: 300px; */
     padding: 10px;
     max-width: 800px;
     text-align: justify;
 }

 .p-increible {
     font-size: 20px;
     text-transform: uppercase;
     font-weight: bold;
 }

 .p-style-title {
     color: #2B2A4C;
     font-size: 26px;
 }

 /* .playas-limpias-notas{
display: flex;
    flex-direction: column;
    align-items: baseline;

} */
 .h4-nos-importa {
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     color: #B31312;
     font-size: 45px;
     font-weight: 500;
     padding: 15px
 }

 .h5-nos-importa {
     font-family: "carter";
     color: #ee7b1c;
     font-size: 35px;
     font-weight: 500;
     padding: 15px;
 }

 .emoji-abrazo {
     max-width: 50px;
 }

 .playas-limpias-img {
     max-width: 70%;
     padding: 15px;
 }

 .ul-playas-limpias li {
     padding: 10px;
     max-width: 850px;
     font-weight: bold;

 }


 /* .playas-limpias-nota p{
    color: black;
    padding: 10px;
    font-weight: normal;
} */




 /****** FOOTER ******/
 .footer {
     width: 100%;
     height: 50px;
     padding-top: 10px;
     padding-bottom: 10px;
     background-color: #1f1f1f;
     display: flex;
     flex-direction: row;
     justify-content: center
 }

 .footer .social-media {
     width: 50px;
     height: 50px;
 }

 /***** MEDIA INDEX *****/

 @media(max-width: 924px) {
     .flex-padre img {
         max-width: 309px;
         max-height: 366px;
     }
     .section-main2 img {
        max-width: 65px;
        max-height: 65px;
        margin-left: 14px;
        padding-top: 15px;
    }

    .section-main2 h1 {
        font-size: 50px;
    }
 }

 @media (max-width: 850px) {
     .video-container {
         display: none;
     }  
     .main .h1-tu-clasico {
        font-size: 33px;
        color: #B31312;
    }

     .flex-padre img {
         max-width: 309px;
         max-height: 327px;
     }
     .main .h2-inicio {
        font-size: 38px;
        margin: 0 3px;
    }
    .section-main2 img {
        max-width: 62px;
        max-height: 62px;
        margin-left: 14px;
        padding-top: 15px;
    }

    .section-main2 h1 {
        font-size: 47px;
    }
 }
@media(max-width: 764px) {
    .flex-padre img{
        max-width: 309px;
         max-height: 300px;
    }    
     .main .h1-tu-clasico {
        font-size: 30px;
        color: #B31312;
    }
    .main .h2-inicio {
        font-size: 36px;
        margin: 0 3px;
    }
    .h3-index {
        font-size: 33px;
    }
}
@media (max-width:700px){
    .flex-padre img{
        max-width: 309px;
         max-height: 397px;
    }
    .main .h2-inicio {
        font-size: 34px;
        margin: 0 3px;
    }
    .section-main2 img {
        max-width: 60px;
        max-height: 60px;
        margin-left: 14px;
        padding-top: 15px;
    }

    .section-main2 h1 {
        font-size: 37px;
    }
    .h3-index {
        font-size: 31px;
    }
}
@media (max-width: 600px){
    .flex-padre img {
        max-width: 230px;
    }
    .main .h2-inicio {
        font-size: 32px;
        margin: 0 3px;
    }
    .section-main2 img {
        max-width: 58px;
        max-height: 58px;
        margin-left: 14px;
        padding-top: 15px;
    }

    .section-main2 h1 {
        font-size: 35px;
    }
    .h3-index {
        font-size: 29px;
    }
}

 @media (max-width: 550px) {
     .header {
         background-color: black;
         display: flex;
         justify-content: center;
         flex-wrap: wrap;
     }

     .header .logo {
         padding: 0;
     }
 }

 @media (max-width: 550px) {
     .main .h1-inicio {
         font-size: 20px;
         display: flex;
         flex-direction: column;
     }

     .header a {
         padding: 0 3px;
     }

     .main .h1-tu-clasico {
         font-size: 25px;
         color: #2B2A4C;
     }

     .main .h2-inicio {
         font-size: 30px;
         margin: 0 3px;
     }

     .flex-padre img {
         max-width: 230px;
     }

     .section-main2 img {
         max-width: 55px;
         max-height: 55px;
         margin-left: 14px;
         padding-top: 15px;
     }

     .section-main2 h1 {
         font-size: 33px;
     }

     .h3-index {
         font-size: 25px;
         padding-top: 15px;
     }

     .video-container {
         display: none;
     }

 }

 /***** MEDIA CONTACTO *****/
 @media (max-width: 1200px) {
     .mas-info-box {
         width: 230px;
     }

     .mas-info-box h3 {
         font-size: 17px;
     }

     .mas-info-box span {
         font-size: 15px;
     }

     .mas-info-box p {
         font-size: 15px;
     }

     .mas-info-box .mas-info-logo {
         width: 130px;
     }
 }

 @media (max-width: 850px) {
     .form-container {
         display: flex;
         flex-direction: column;
     }

     .mas-info-box {
         height: 300px;
         width: 300px;
         background-color: #f0f0f0;
         margin: auto;
         padding: 10px;
         border: solid #e3e3e3;
         align-items: center;
     }

     .mas-info-box .mas-info-logo {
         width: 100px;
     }

     .h1-contacto {
         font-size: 25px;
         font-family: "paytone";
         text-transform: uppercase;
     }

     .h2-contacto {
         font-size: 22px;
         padding-top: 8px;
     }
 }